name: Demo - build and deploy application

on:
  push:
    branches:
      - main
    paths:
      - 'application/**'
  workflow_dispatch:
    inputs:
      deploy_to_production:
        description: 'Deploy to production'
        type: boolean
        default: false
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  build-container:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build docker image
      run: |
        echo "Building docker image..."

    - name: Promote image to production acr
      if: ${{ github.event.inputs.deploy_to_production == true }}
      run: |
        echo "Promoting image to production ACR..."
  
  deploy-to-int:
    runs-on: ubuntu-latest
    needs: build-container
    environment: int
    steps:

    - name: Deploy to int environment
      run: |
        echo "Deploying to internal environment..."

  deploy-to-prod:
    runs-on: ubuntu-latest
    needs: build-container
    environment: prod
    #if: ${{ github.event.inputs.deploy_to_production == true }}
    steps:

    - name: Deploy to prod environment
      run: |
        echo "Deploying to production environment..."